@import "../../../assets/scss/mixins";

  .title {
    @include FontStyle(600, 26px, 32px);
    margin-bottom: 65px;
  }

  .form {
    @include FlexCenter(column, unset);
    width: 100%;

    .input {
      width: 100%;
      margin-bottom: 20px;
    }

    .text {
      @include FontStyle(400, 14px, 24px, 0.5);
      margin-bottom: 50px;
    }
  }