@import "../../../assets/scss/mixins";

.newPassword {
  @include Size(413px, 372px);
  @include FlexCenter(column, unset);

  margin: 100px auto;
  padding: 35px 30px;

  .title {
    @include FontStyle(600, 26px, 32px);
    margin-bottom: 65px;
  }

  .form {
    @include FlexCenter(column, unset);
    width: 100%;

    .input {
      width: 100%;
      margin-bottom: 20px;
    }

    .btn {
      width: 100%;
      margin: 60px 0 30px;
    }
  }
}