@import "../../../assets/scss/mixins";

.titleBlock {
  @include FlexCenter;

  .title {
    @include FontStyle(500, 18px, 22px);
    margin-bottom: 30px;
  }

  .title::after {
    content: "";
    width: 400px;
    margin: auto;
    display: block;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    border-top: 1px solid #D9D9D9;
  }

  .close {
    align-self: flex-start;
    cursor: pointer;
  }
}