@import "../../../../common/assets/scss/mixins";

.input:focus {
}

.input {
    @include FontStyle(500, 16px, 24px);
    width: 100%;
    padding: 5px 5px 5px 15px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
}

.error {
    color: red;
}
