@import "../../../assets/scss/mixins";

.title {
  @include FontStyle(600, 26px, 32px);
  margin-bottom: 30px;
}

.form {
  @include FlexCenter(column, unset);
  width: 100%;

  .input {
    width: 100%;
    margin-bottom: 20px;
  }

  .btn {
    margin-top: 60px;
  }
}

.signIn {
  @include FlexCenter(column);
  gap: 10px;
  margin-top: 30px;

  .account {
    @include FontStyle(600, 14px, 24px, 0.5)
  }

  .signInBtn {
    @include FontStyle(600, 16px, 24px);
    text-decoration-line: underline;
    color: #366EFF;
  }
}