@import "../../../assets/scss/mixins";

.modal {
  @include FlexCenter(row, center);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  filter: drop-shadow(0px 0px 40px #646669);

  .content {
    width: 400px;
    min-height: 240px;
    padding: 20px;
    background-color: #FFFFFF;
    position: relative;
  }
}