@import "../../../assets/scss/mixins";


  .title {
    @include FontStyle(600, 26px, 32px);
    margin-bottom: 30px;
  }

  .text {
    @include FontStyle(400, 14px, 24px, 0.5);

    margin: 31px 0 41px;
    text-align: center;
  }

  .loginBtn {
    width: 100%;
  }
